<!-- Optional additional links to insert for icons links -->
{% if site.github_url %}    
    <a id="github-link"
        target="_blank"
        class="icon" title="Github" aria-label="Github"
        href="{{ site.github_url }}">
        <i class="fab fa-github"></i>
    </a>
{% endif %}

{% if site.gitlab_url %}    
    <a id="gitlab-link"
        target="_blank"
        class="icon" title="Gitlab" aria-label="Gitlab"
        href="{{ site.gitlab_url }}">
        <i class="fab fa-gitlab"></i>
    </a>
{% endif %}

{% if site.twitter_url %}    
    <a id="twitter-link"
        target="_blank"
        class="icon" title="Twitter" aria-label="Twitter"
        href="{{ site.twitter_url }}">
        <i class="fab fa-twitter"></i>
    </a>
{% endif %}

{% if site.telegram_url %}    
    <a id="telegram-link"
        target="_blank"
        class="icon" title="Telegram" aria-label="Telegram"
        href="{{ site.telegram_url }}">
        <i class="fab fa-telegram"></i>
    </a>
{% endif %}

{% if site.keybase_url %}    
    <a id="keybase-link"
        target="_blank"
        class="icon" title="Keybase" aria-label="Keybase"
        href="{{ site.keybase_url }}">
        <i class="fab fa-keybase"></i>
    </a>
{% endif %}